@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Sarabun', Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --hospital-bg: #E0F2F1;
  --hospital-paper: #FFFFFF;
}
